* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url('jan-kahanek-184676.jpg') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  text-align: center;
}

ul {
  padding-top: 15px;
  font-size: 18px;
}

#input {
  padding-top: 15px;
  text-align: center;
}

form {
  margin-left: 80px;
}
